<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property resource="application.properties"/>

    <!-- Spring Boot 기본 설정 포함 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- 콘솔 Appender 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 파일 Appender 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/log/spring.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-4level] [logger{36}] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 롤링 정책: 날짜와 파일 크기 기반 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 백업 파일 경로: {프로젝트 최상단}/log/archive/spring.2025-07-25.0.log.gz -->
            <fileNamePattern>${user.dir}/log/archive/spring.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>   <!-- 로그 파일 하나당 최대 크기 -->
            <maxHistory>30</maxHistory>      <!-- 30일간 보관 -->
            <totalSizeCap>1GB</totalSizeCap> <!-- 전체 로그 파일 최대 크기 -->
        </rollingPolicy>
    </appender>

    <!-- Logstash Appender 설정 -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>host.docker.internal:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}",
                        "level": "%level",
                        "logger": "%logger",
                        "thread": "%thread",
                        "message": "%msg",
                        "stack_trace": "%ex"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!-- 로거 설정 -->
    <logger name="com.hjk" level="DEBUG" />
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>


    <!-- Root 로거 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>